[submodule "cyclomatic_complexity"]
	path = cyclomatic_complexity
	url = https://github.com/paulo-granthon/fatec_lab_bd_5_cyclomatic_complexity
[submodule "pairwise_testing"]
	path = pairwise_testing
	url = https://github.com/paulo-granthon/fatec_lab_bd_5_pairwise_testing
